<%- include('./partials/head') %>

<!-- <article> 
  <header>
    <h1>Hallo</h1>
    <p>mijn naam is</p>
  </header>

  <p><%= data.name %></p>

  <footer></footer>
</article>-->

<!-- <div class="wrapper">
  <header>
      <h1>Wat wil je weten?</h1>
  </header>
  <main>
      <a id="left" href="wie_is_anna-kyra.html">
          <div class="wie_ben_ik">
              <div class="top">
                  <h2>Wie
                      <span>is</span>
                      <%= data.name %> <%= data.prefix %> <%= data.surname %></h2>
                  <img src="/images/point.svg" alt="verwijsing">

              </div>
              <div class="border_gezicht">
                  <div class="gezicht"></div>
              </div>
          </div>
      </a>
      <a id="right" href="wat_kan_anna-kyra.html">
          <div class="wat_kan_ik">
              <div class="top"></div>
              <div class="border_laptop">
                  <div class="laptop"></div>
              </div>
              <img src="/images/point.svg" alt="verwijsing">
              <h2>Wat
                  <span>kan</span>
                  <%= data.name %> <%= data.prefix %> <%= data.surname %></h2>
          </div>
      </a>
  </main>
<footer></footer>
</div> -->



  <article>
    <header>
      <div class="id-number"> <h2><%= data.id %></h2></div>
      <% if (data.name) { %>
        <h1><%= data.name %> <%= data.prefix %> <%= data.surname %></h1>
      <% } else { %>
        <h1>Name: Traveler</h1>
        <% } %>
    </header>
    <main>
      <section>
        <img src="/images/tape-clear-2.png" alt="tape" class="tape">
        <img src="<%= data.avatar %>" alt="dit ben ik" class="avatar">
        <img src="/images/tape-clear-1.png" alt="tape" class="tape">
      </section>
      <div class="element"><div></div></div>
      <section>
        <section>
          
        <h3>hp</h3>
          <div class="stats">
            <img src="/images/icons/hart.png" alt="health">
            <img src="/images/icons/hart.png" alt="health">
            <img src="/images/icons/hart.png" alt="health">
            <img src="/images/icons/hart.png" alt="health" class="disabled">
            <img src="/images/icons/hart.png" alt="health" class="disabled">
          </div>
          <small>15</small>
        </section>
        <section>
          <h3>atk</h3>
          <div class="stats">
            <div class="atk"></div>
            <div class="atk"></div>
            <div class="atk disabled"></div>
            <div class="atk disabled"></div>
            <div class="atk disabled"></div>
          </div>
          <small>10</small>
        </section>
        <section>
          <h3>def</h3> 
          <div class="stats">
            <img src="/images/icons/chield.png" alt="defence">
            <img src="/images/icons/chield.png" alt="defence">
            <img src="/images/icons/chield.png" alt="defence">
            <img src="/images/icons/chield.png" alt="defence">
            <img src="/images/icons/chield.png" alt="defence">
          </div>
          <small>25</small>
        </section>
      </section>
      <section>
        <button>more info ^</button>
        <button class="close"> <div>x</div></button>
        <section>
          
          <% if (data.name) { %>
            <p>Name: <%= data.name %> <%= data.prefix %> <%= data.surname %></p>
          <% } else { %>
            <p>Name: Traveler</p>
            <% } %>
          
          <% if (data.nickname) { %>
            <p>Nickname: <%= data.nickname %></p>
          <% } else { %><% } %>

          <% if (data.role) { %>
            <p>Role: <%= data.role %></p>
          <% } else { %><% } %>

          <% if (data.bio) { %>
            <p>Bio: <%= data.bio %></p>
            <% } else { %><% } %>
          
    
          <% if (data.github_handle) { %>
            <p>Github handle: <%= data.github_handle %></p>
            <% } else { %><% } %>

          <% if (data.email) { %>
            <p>E-mail: <%= data.email %></p>
            <% } else { %><% } %>
          
          <% if (data.phone_number) { %>
            <p>Phone number: <%= data.phone_number %></p>
            <% } else { %><% } %>
        </section>
      </section>

    </main>
    <footer>
      <div class="id-number"><h2><%= data.id %></h2></div>
    </footer> 
  </article>



<%- include('./partials/foot') %>
