<%- include('./partials/head') %>

<!-- <article> 
  <header>
    <h1>Hallo</h1>
    <p>mijn naam is</p>
  </header>

  <p><%= data.name %></p>

  <footer></footer>
</article>-->

<!-- <div class="wrapper">
  <header>
      <h1>Wat wil je weten?</h1>
  </header>
  <main>
      <a id="left" href="wie_is_anna-kyra.html">
          <div class="wie_ben_ik">
              <div class="top">
                  <h2>Wie
                      <span>is</span>
                      <%= data.name %> <%= data.prefix %> <%= data.surname %></h2>
                  <img src="/images/point.svg" alt="verwijsing">

              </div>
              <div class="border_gezicht">
                  <div class="gezicht"></div>
              </div>
          </div>
      </a>
      <a id="right" href="wat_kan_anna-kyra.html">
          <div class="wat_kan_ik">
              <div class="top"></div>
              <div class="border_laptop">
                  <div class="laptop"></div>
              </div>
              <img src="/images/point.svg" alt="verwijsing">
              <h2>Wat
                  <span>kan</span>
                  <%= data.name %> <%= data.prefix %> <%= data.surname %></h2>
          </div>
      </a>
  </main>
<footer></footer>
</div> -->



  <article>
    <header>
      <div class="id-number"> <h2><%= data.id %></h2></div>
      <h1><%= data.name %> <%= data.prefix %> <%= data.surname %></h1>
    </header>
    <main>
      <section>
        <img src="/images/tape-clear-2.png" alt="tape" class="tape">
        <img src="<%= data.avatar %>" alt="dit ben ik" class="avatar">
        <img src="/images/tape-clear-1.png" alt="tape" class="tape">
      </section>
      <section>
        <section>
        <h3>hp</h3>
          <div>
            <img src="/images/icons/hart.png" alt="health">
            <img src="/images/icons/hart.png" alt="health">
            <img src="/images/icons/hart.png" alt="health">
            <img src="/images/icons/hart.png" alt="health" class="disabled">
            <img src="/images/icons/hart.png" alt="health" class="disabled">
          </div>
          <small>15</small>
        </section>
        <section>
          <h3>atk</h3>
          <div>
            <img src="/images/icons/earth.png" alt="attack">
            <img src="/images/icons/earth.png" alt="attack">
            <img src="/images/icons/earth.png" alt="attack" class="disabled">
            <img src="/images/icons/earth.png" alt="attack" class="disabled">
            <img src="/images/icons/earth.png" alt="attack" class="disabled">
          </div>
          <small>10</small>
        </section>

        <section>
          <h3>def</h3> 
          <div>
            <img src="/images/icons/chield.png" alt="defence">
            <img src="/images/icons/chield.png" alt="defence">
            <img src="/images/icons/chield.png" alt="defence">
            <img src="/images/icons/chield.png" alt="defence">
            <img src="/images/icons/chield.png" alt="defence">
          </div>
          <small>25</small>
        </section>
      </section>
      <section>
        <button>more info ^</button>
      </section>

    </main>
    <footer>
      <div class="id-number"><h2><%= data.id %></h2></div>
    </footer> 
  </article>



<%- include('./partials/foot') %>
